body {
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  background: #000;
  color: #ffffff;
  padding: 2rem;
  font-family: system-ui, sans-serif;
  line-height: 1.7;
  max-width: 750px;
  margin: auto; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}
